body{
  margin: 0;
  font-family: 'Merriweather',serif;
  color:#40514E;


}

/* h1{
   color:red;
 }*/
.top{
  background-color:#EAF6F6;
  position: relative;
  padding-top: 100px;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family:'Montserrat',sans-serif;
  font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;


}
h3{
  font-family:'Montserrat',sans-serif;
    color: #11999E;
}
.middle{
  margin: 100px 0;

}
.bottom{
background-color: #66BFBF;
padding-top: 30px   ;
padding-bottom: 20px;
}
.pro{
  text-decoration: underline;
}
body{
  text-align: center;

}
.cloud-bottom{
  position: absolute;
  left:200px;
  top: 445px;


}
.cloud-top{
  position: absolute;
  right: 200px;

  top:40px;
}
.skill-row{
  width: 55%;
  margin:100px auto 100px  auto;
  text-align: left;
}
.skillimage{
  height:200px;
  width: 25%;
  float: left;
  margin-right: 30px;
}
p{
  line-height: 2;
}
.h3p{
}
.profileimages{
  width: 15%;
  height:240px;

}

.skillimage2{
  height:200px;
  width: 25%;
  float: right;
  margin-left: 25px;
}
.h2p{

}
.skill-description{

}
.skill-desription2{

}
.h3{
  color:#11999E;
}
.profilepara{
  width: 30%;
  margin:auto;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style:dotted;
  border-color: #EAF6F6;

 margin:100px auto;
  border-width: 8px;
  width: 5%;

}
.btn{
  background-color: #30e3cb;
  border-radius: 4px;
  padding:5px 10px;
  line-height: 5;
  color: white;
  text-decoration: none;
}
.paragraph{
  width: 30%;
  margin:auto;
}
.name{
  font-size: 10px;
}
.footer-link{
  margin: auto 8px;
}
